<div class="container-fluid">
  <div class="row">
    <div class="col-3" style="display:flex; justify-content:center; ">
      <p class="text-success">Riox Forms</p>
      <div>
        <form [formGroup]="productForm" (ngSubmit)="submitForm()">
          <div class="form-group">
            <label>Name: </label>
            <input type="text" name="name" formControlName="name" class="form-control" />
          </div>
          <div class="my-5">
            <button type="button" (click)="resetForm()" class="btn ">Reset form</button>
            <button type="submit"  class="btn btn-primary">Go</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>